@charset "utf-8";

body
{
   margin:0;
   padding:0;
   font-family: "游明朝",Yumincho,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","M S 明朝",serif;
}


#header_text
{
   color: red;
}

h1
{
   text-align: center;
}

.button_omikuji
{
   text-align: center;
}

#center
{
   text-align: center;
}

#normal_title
{
   background-color: black;
   color: white;
}

#special_title
{
   background-color: yellow;
   color: black;
}

#gamer_title
{
   background: linear-gradient(90deg,skyblue,purple,skyblue);
   color: white;
}

#money_title
{
   background-color: coral;
   color: white;
}

#love_title
{
   background-color: violet;
   color: white;
}

#kenkou_title
{
   background-color: yellowgreen;
   color: white;
}

/*
#setumei
{
   background-color: white;
}
*/

footer
{
   color: white;
   text-align: center;
   background-color: black;
}

#mailText
{
   color: white;
}